<h3></h3>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
<script>
    // https://stackoverflow.com/a/901144/6161265
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        const regex = new RegExp(`[?&]${name}(=([^&#]*)|&|#|$)`);
        const results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    const carId = `car-${getParameterByName('id')}`;
    if (!carId) {
        // refresh to new id
    }
    $(document).ready(() => {
        const roomNumber = 'cars';
        const socket = io.connect('http://localhost:3000');
        socket.on('connect', () => {
            socket.emit('join', { room: 'cars' }, data => {
                setInterval(() => {
                    const currentData = { room: 'cars', id: carId, location: `${faker.address.latitude()}, ${faker.address.longitude()}` };
                    $('h3').text(JSON.stringify(currentData));
                    socket.emit('clientData', currentData);
                }, 1000)
            });
        });
    })
</script>